*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: AktivGrotesk-Regular;
}
.form{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.logined-user{
    text-align: center;
    font-family: AktivGrotesk-Regular;
    text-transform: none;
    font-size: 1.800rem;
    letter-spacing: .25rem;
    line-height: 1.2;
    margin: 45px 0;
}
.profile-page{
    font-size: .980rem;
    letter-spacing: .025rem;
    padding: 0px 0 30px 0;
    font-style: inherit;
    font-weight: inherit;
}
.required-input{
    text-align: end;
    margin: 0 200px 30px 0;
}
.onlyInputs{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-text{
    width: 40%;
    margin-bottom: 40px !important;
}

.authNotloginSide{
    width: 55%;
    text-align: center;
    margin: 50px auto;
}







@media(max-width: 500px) {
    .form{
        width: 100%;
    }
    .onlyInputs{
        width: 100% !important;
    }
    .input-text{
        width: 60%;
    }
}




@media(max-width: 450px) {
    .form{
        margin: 0 auto;
    }
    .logined-user{
        width: 80%;
        font-size: 20px;
        text-align: center;
        margin: 30px auto;
    }
    .profile-page{
        width: 80%;
        padding: 0;
        text-align: center;
        margin: 20px auto;
    }
    .authNotloginSide{
        width: 100%;
    }
    .profile-page-auth{
        width: 85%;
        margin: 20px auto;
    }
}