*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.MessageUnder{
    width: 40%;
    border: 1.5px solid gray;
    border-radius: 10px;
    margin: 20px 30px;
    padding: 10px;
}
.Message-content{
    display: flex;
    justify-content: space-between;
}


@media(max-width: 800px) {
    .MessageUnder{
        width: 80%;
    }
}



@media(max-width: 400px){
    .MessageUnder{
        width: 90%;
    }
}